<div id="main" style="position: relative;">
  <div id="test"></div>
  <hr style="margin-top: -58px;" />
  <div id="test2"></div>
</div>
<div id="main">
  <div id="test"></div>
  <hr style="margin-top: -58px;" />
  <div id="test2"></div>
</div>
<div id="main">
  <div id="test"></div>
  <hr style="margin-top: -58px;" />
  <div id="test2"></div>
</div>
<ul style="clear: both;" class="ulT">
  <li style="width: 104px;" class="first"></li>
  <p>{{ titles[0] }}</p>
  <li style="width: 254px;border: none;text-align: left;">
    {{ data.Design.CompAssy[0].cause }}
  </li>
  <li style="width:205px;">{{ data.Design.CompAssy[1].cause }}</li>
  <li style="width:253px;">{{ data.Design.CompAssy[2].cause }}</li>
  <li style="width: 304px;">{{ data.Design.CompAssy[2].cause }}</li>
</ul>
<ul style="clear: both;margin-left: 460px;" class="ulT2">
  <li style="width: 104px;" class="first"></li>
  <p>{{ titles[0] }}</p>

  <li style="width: 154px;border: none;">Item 1</li>
  <li style="width:205px;">Item 1</li>
  <li style="width:253px;">Item 1</li>
  <li style="width: 304px;">Item 1</li>
</ul>
<ul style="clear: both;margin-left: 920px;" class="ulT3">
  <li style="width: 104px;" class="first"></li>
  <p>{{ titles[0] }}</p>

  <li style="width: 154px;border: none;">Item 1</li>
  <li style="width:205px;">Item 1</li>
  <li style="width:253px;">Item 1</li>
  <li style="width: 304px;">Item 1</li>
</ul>

<ul style="clear: both;margin-top: 333px;" class="ulD">
  <li style="width: 304px;">Item 1</li>
  <li style="width:253px;">Item 1</li>
  <li style="width:205px;">Item 1</li>
  <li style="width: 154px;border: none;">Item 1</li>
  <li style="width: 104px;" class="last"></li>
  <p>{{ titles[1] }}</p>
</ul>
<ul style="clear: both;margin-top: 333px;left: 496px;" class="ulD2">
  <li style="width: 304px;">Item 1</li>
  <li style="width:253px;">Item 1</li>
  <li style="width:205px;">Item 1</li>
  <li style="width: 154px;border: none;">Item 1</li>
  <li style="width: 104px;" class="last"></li>
  <p>{{ titles[1] }}</p>
</ul>
<ul style="clear: both;margin-top: 333px;left: 956px;" class="ulD3">
  <li style="width: 304px;">Item 1</li>
  <li style="width:253px;">Item 1</li>
  <li style="width:205px;">Item 1</li>
  <li style="width: 154px;border: none;">Item 1</li>
  <li style="width: 104px;" class="last"></li>
  <p>{{ titles[1] }}</p>
</ul>
<!--<ul style="clear: both;" class="ulD2">
  <li style="width: 224px;">Item 1</li>
  <li style="width:177px;">Item 1</li>
  <li style="width:126px;">Item 1</li>
  <li style="width: 74px;">Item 1</li>
</ul>
<ul style="clear: both;" class="ulD">
  <li style="width: 224px;">Item 1</li>
  <li style="width:177px;">Item 1</li>
  <li style="width:126px;">Item 1</li>
  <li style="width: 74px;">Item 1</li>
</ul>
-->
